# Node
node_modules/
frontend/dist/
frontend/.env
frontend/.env.local
frontend/.env.production

# Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/
backend/package/
backend/lambda_package.zip

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfplan
tfplan
.terraform.lock.hcl
terraform/environments/prod/terraform.tfvars

# AWS
.aws/

# IDE
.vscode/
.idea/
*.swp
*.DS_Store

# Secrets
*.pem
*.key
secrets/
